
/* ==========================================================================
   Ampersand 2013  -  @bevan7
   ========================================================================== */
   
body {
	font-family: "Karmina Regular", Cambria, "Times New Roman", serif;
	-moz-font-feature-settings:"onum" 1;
	-moz-font-feature-settings:"onum=1";
	-ms-font-feature-settings:"onum" 1;
	-o-font-feature-settings:"onum" 1;
	-webkit-font-feature-settings:"onum" 1;
	font-feature-settings:"onum" 1; 
}

.wf-loading header, .wf-loading section, .wf-loading footer {
    opacity: 0;
}

header, section, footer {
    transition:opacity 0.5s;
}

h1, h2 ,h3 {
	font-family: "Karmina Sans Bold", Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
	font-weight: bold;
}

.brighton,
.header h2 {
	font-family: 'Karmina Sans Regular', Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
	font-weight: normal;
}

.brighton h1, .clearleft a {
	font-family: "Karmina Bold", Cambria, "Times New Roman", serif;
	font-weight: bold;
}

.brighton .button {
	font-family:"Karmina Bold Italic", Cambria, "Times New Roman", serif;
	font-weight: bold;
	font-style: italic;
}

.new-york .button {
	font-family: "Karmina Sans Bold Italic", Corbel, "Lucida Sans Unicode", "Lucida Sans", sans-serif;
	font-style: italic;
	font-weight: bold;
}

html {
	background: rgb(26,98,89); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(26,98,89,1) 25%, rgba(50,38,90,1) 78%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(25%,rgba(26,98,89,1)), color-stop(78%,rgba(50,38,90,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(26,98,89,1) 25%,rgba(50,38,90,1) 78%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(26,98,89,1) 25%,rgba(50,38,90,1) 78%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(26,98,89,1) 25%,rgba(50,38,90,1) 78%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(26,98,89,1) 25%,rgba(50,38,90,1) 78%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a6259', endColorstr='#32265a',GradientType=0 ); /* IE6-9 */	
}

body {
	position: relative;
	color: #fff;
	font-size: 110%;
	line-height: 1.4;
	background: url(../img/metal-type.png) center center fixed;
	background-size: 200%;
	margin: 0;
	text-align: center;
}

a { color: #FFF064 }

h1, h2 ,h3 {
	margin: 1em 0;
}

h1 {
	font-size: 2em;
	margin: 0.3em 0 0em 0;
}

.header {
	background: rgba(0,0,0,0.7);
	text-align: center;
	z-index: 100;
	padding: 1em;
	overflow: auto;
}

.header h1 {
    background: url(../img/logo.png) center center no-repeat;
    width: 80px;
    float: left;
    background-size: 40px;
    height: 60px;
    position: relative;
    text-indent: -9999em;
    margin: 0.2em 0 0 0%;
    display: none;
}

.header h2 {
	background: url(../img/logo.png) left center no-repeat; 
	text-align: left;
	width: 190px;
	text-transform: uppercase;
	font-weight: 100;
	font-size: 0.75em;
	line-height: 1.7;
	letter-spacing: 0.25em;
	margin: 0 auto;
	padding: 0.2em 0 0.1em 50px;
	background-size: 30px;
}

.vevent {
	position: relative;
	z-index: 10;
	padding: 1em;
}

.vevent a {
	display: block;
	text-decoration: none;
}

.vevent .details {
	display: block;
	margin-bottom: 0.7em;
}

.vevent a.lanyrd {
	position: relative;
	display: inline;
	margin-left: 28px;
}

.vevent a.lanyrd:before {
	content: " ";
	display: block;
	position: absolute;
	background: url(../img/lanyrd.png) no-repeat;
	width: 21px;
	height: 21px;
	left: -28px;
	top:0px;
}

.vevent.new-york a.lanyrd:before {
	top:3px;
}	

@media (-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 

	.vevent a.lanyrd:before {
    	background: url(../img/lanyrd-retina.png) no-repeat;
    	background-size: 100%;
    }
}

.vevent a.lanyrd:hover {
	color: #fff;
}

.vevent a.lanyrd:hover:before {
	background-position: 0 -21px;
}

.vevent a.button {
	background: rgba(0,0,0,0.3);
	text-transform: uppercase;
	display: block;
	width: auto;
	text-decoration: none;
	padding: 0px;
	font-size: 0.7em;
	letter-spacing: 0.2em;
	margin-top: 1em;
	margin-bottom: 2.9em;
}

.vevent a.button span {
	display: block;
	border-top:1px solid rgba(255,255,255,0.4);
	border-bottom:1px solid rgba(255,255,255,0.4);
	padding: 7px 0px 7px 0px;
}

.vevent a.button:hover span {
		color: #fff;
}

.brighton {
	background: rgba(0,0,0,0.0);
}

.new-york {
	background: rgba(34,30,47,0.3);
}

.new-york h1 .nyc {
	letter-spacing: 3px;
	font-size: 0.85em;
}

.clearleft {
	padding: 1em 5% 1.1em 5%;
	clear: both;
	background: #fff;
	min-height: 50px;
	color: #393b40;
	font-size: 0.85em;
}

.clearleft p {
	margin: 0;
}

.clearleft a {
	color: #7EA107;
	text-decoration: none;
}

.clearleft a:hover {
	color: #52670a;
}




@media only screen and (min-width: 35em) {


	html {
		height: 100%;
		background: rgb(26,98,89); /* Old browsers */
		background: -moz-linear-gradient(left,  rgba(26,98,89,1) 17%, rgba(50,38,90,1) 81%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(17%,rgba(26,98,89,1)), color-stop(81%,rgba(50,38,90,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left,  rgba(26,98,89,1) 17%,rgba(50,38,90,1) 81%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left,  rgba(26,98,89,1) 17%,rgba(50,38,90,1) 81%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left,  rgba(26,98,89,1) 17%,rgba(50,38,90,1) 81%); /* IE10+ */
		background: linear-gradient(to right,  rgba(26,98,89,1) 17%,rgba(50,38,90,1) 81%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a6259', endColorstr='#32265a',GradientType=1 ); /* IE6-9 */
	}
	
	
	body {
		height: 100%;
		background-size: auto;
	}
	
	body:before {
		content: " ";
		position: absolute;
		border: 10px solid rgba(255,255,255,0.1);
		top:0px;
		left: 0px;
		bottom: 0px;
		right: 0px;
	}
	
	body:after {
		content: " ";
		position: absolute;
		border: 1px solid rgba(255,255,255,0.1);
		top:12px;
		left: 12px;
		bottom: 12px;
		right: 12px;
	}
	
	.header {
		position: absolute;
		left: 50%;
		top: 50%;
		text-align: center;
		z-index: 100;
		background: none;
		margin-left: -20px;
		overflow: visible;
	}
	
	.header h1 {
	    background: url(../img/logo.png) no-repeat;
	    text-indent: -9999em;
	    position: relative;
	    background-size: 100%;
	    width: 130px;
	    height: 193px;
	    margin-left: -65px;
	    margin-top: -146px;
	    float: none;
	    display: block;
	}

	.header h2 {
		text-align: center;
		width: 14em;
		margin-left: -6.8em;
		text-transform: uppercase;
		font-weight: 100;
		font-size: 0.75em;
		line-height: 1.7;
		letter-spacing: 0.25em;
		margin-top: 1.2em;
		float: none;
		background: none;
		padding-left: 0;
	}
	
	.brighton.vevent {
		padding: 0;
		width: 50%;
		height: 100%;
		float: left;
	}
	
	.brighton.vevent .info {
		padding:  2em 5%;
		text-align: center;
	}
	
	.new-york.vevent {
		padding: 0;
		width: 50%;
		height: 100%;
		float: left;
	}
	
	.new-york .info {
		height: 100%;
		padding:  2em 5%;
		text-align: center;
	}
	
	.vevent a.button {
		margin-top: 6em;
		position: relative;
		margin-left: -5.5%;
		margin-right: 120px;
		padding: 25px 25px 25px 40px;
		font-size: 0.8em;
	}
	
	.vevent a.button:after {
		content: " ";
		display: block;
		background: url(../img/ribbon-end.png) no-repeat right center;
		background-size: cover;
		width: 45px;
		position: absolute;
		top:0;
		right: -45px;
		bottom: 0;
	}
	
	.new-york.vevent a.button {
		left: auto;
		margin-right: -5.5%;
		margin-left: 120px;
		padding: 25px 40px 25px 25px;
	}

	
	.new-york.vevent a.button:after {
		right: auto;
		left: -45px;
		-webkit-transform: rotate(180deg);  /* Safari 3.1+, Chrome */
	     -moz-transform: rotate(180deg);  /* Firefox 3.5-15 */
	      -ms-transform: rotate(180deg);  /* IE9+ */
	       -o-transform: rotate(180deg);  /* Opera 10.5-12.00 */
	          transform: rotate(180deg);  /* Firefox 16+, Opera 12.50+ */
	}
	
	.vevent a.button span {
		padding: 7px 10px 7px 10px;
		display: inline-block;
		-webkit-transition: all 0.3s ease-out;  /* Safari 3.2+, Chrome */
		-moz-transition: all 0.3s ease-out;  /* Firefox 4-15 */
		-o-transition: all 0.3s ease-out;  /* Opera 10.5?12.00 */
        transition: all 0.3s ease-out;  /* Firefox 16+, Opera 12.50+ */
	}
	
	.clearleft {
		font-size: 0.95em;
		padding-bottom: 0;
	}
    
}


@media only screen and (min-width: 50em) {
    h1 {
		font-size: 2.9em;
		margin: 0.3em 0 0em 0;
	}
	
	
}


@media only screen and (min-width: 67em) {
    h1 {
		font-size: 3.9em;
		margin: 0.3em 0 0em 0;
	}
	
	.vevent a.button span {
		padding: 7px 25px 7px 25px;
	}	
	.vevent a.button {
		margin-right: 120px;
		font-size: 0.85em;
	}
	
	.vevent.new-york a.button {
		margin-left: 120px;
	}
}


@media only screen and (min-width: 80em) {
	
	.vevent a.button:hover span {
		padding: 7px 50px 7px 50px;
	}
	
}


@media only screen and (min-width: 80em) and (min-height: 45em) {
	
	.header h1 {
		background-size: auto;
	    width: 177px;
	    height: 253px;
	    margin-left: -88px;
	    margin-top: -166px;
	}
}




@media only screen and (min-height: 28em) {

	.vevent a.button {
		margin-top: 15em;
	}
}

@media only screen and (min-height: 35em) {

	.vevent a.button {
		margin-top: 19em;
	}
}

@media only screen and (min-height: 40em) {

	.vevent a.button {
		margin-top: 23em;
	}
}

@media only screen and (min-height: 45em) {
	
	.vevent a.button {
		margin-top: 27em;
	}
}

@media only screen and (min-height: 55em) {
	
	.vevent a.button {
		margin-top: 38em;
	}
}








