/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Clearfix */

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/* FONTS BABY */
/* div { font-family:"Karmina Sans Bold", sans-serif; font-size-adjust:0.47; font-weight:bold; font-style:normal; }
div { font-family:"Karmina Sans Regular Italic", sans-serif; font-size-adjust:0.47; font-weight:normal; font-style:italic; }
div { font-family:"Karmina Italic", Georgia, serif; font-size-adjust:0.469; font-weight:normal; font-style:italic; }
div { font-family:"Karmina Bold", Georgia, serif; font-size-adjust:0.473; font-weight:bold; font-style:normal; }
div { font-family:"Karmina Sans Regular", sans-serif; font-size-adjust:0.47; font-weight:normal; font-style:normal; }
div { font-family:"Karmina Regular", Georgia, serif; font-size-adjust:0.463; font-weight:normal; font-style:normal; } */

/* Default Mobile View Styles */

html {
	background: #1a6259; /* Old browsers */
	background: -moz-linear-gradient(left,  #1a6259 0%, #193749 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1a6259), color-stop(100%,#193749)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #1a6259 0%,#193749 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #1a6259 0%,#193749 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #1a6259 0%,#193749 100%); /* IE10+ */
	background: linear-gradient(to right,  #1a6259 0%,#193749 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a6259', endColorstr='#1f445a',GradientType=1 ); /* IE6-9 */
}

body { 	
	background:url('../images/brighton-bkg.png') center center fixed; 
	font-size:110%; 
	font-family:"Karmina Regular", Georgia, serif; 
	font-size-adjust:0.463; 
	font-weight:normal; 
	font-style:normal;
	text-align:center;
}

h1, h2 { font-family:"Karmina Bold", Georgia, serif; font-size-adjust:0.473; font-weight:bold; font-style:normal; color: #ffffff; font-size:1.5em; letter-spacing: 0.1em;}
h5 {
	font-family:"Karmina Sans Light", sans-serif; 
	font-size-adjust:0.47; 
	font-weight:200; 
	font-style:normal; 
	letter-spacing:.08em; 
	font-size:1em; 
	margin:34px 0 0 0;  
	color:#fff064;
}
	
	
a{ color:#fff064; text-decoration: none; }
a:hover { text-decoration: underline; }

header { width:100%; padding: 12px 0 0 0; text-align: center;}
.conf-title {color:#ffffff; font-size:2.2em; letter-spacing: .1em; }
.description { 
	font-family:"Karmina Sans Light", sans-serif; 
	font-size-adjust:0.47; 
	font-weight:200; 
	font-style:normal; 
	letter-spacing:.35em; 
	font-size:.7em; 
	margin:4px 0 0 0; 
	text-transform: uppercase; 
	color:#ffffff;
}
.loc-date { color:#fff064; letter-spacing: .1em; font-size:.8em; margin:27px 0 31px; }

.tickets a:hover { text-decoration: none; }
.price { 
	color: #000000;
	border-radius: 3px;
	background-color: #fff064;
	width: 180px;
	position:relative;
	margin: 0 auto;
	font-size: 3em;
	letter-spacing: .07em;
	line-height: .3em;
	padding: 19px 0px 10px;
	background: #fff59e; /* Old browsers */
	background: -moz-linear-gradient(top,  #fff59e 0%, #fff064 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff59e), color-stop(100%,#fff064)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fff59e 0%,#fff064 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fff59e 0%,#fff064 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fff59e 0%,#fff064 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fff59e 0%,#fff064 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff59e', endColorstr='#fff064',GradientType=0 ); /* IE6-9 */
}

.price:hover { opacity: 0.9; }


.price:after {
	content: '';
	width: 180px;
	height: 20px;
	position: absolute;
	border-bottom: none;
	border-radius: 0 0 3px 3px;
	z-index: 0;
	right: 0;
	left:0px;
	bottom:-10px;
	background: #fff064 ;
	-ms-transform: skew(0deg,-3deg); 
	-webkit-transform: skew(0deg,-3deg); 
	-o-transform: skew(0deg,3deg); 
	-moz-transform: skew(0deg,3deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;	
}

.price:before {
	content: '';
	width: 178px;
	height: 14px;
	position: absolute;
	border-bottom: none;
	border-radius: 0 0 3px 3px;
	z-index: 0;
	right: 0;
	left:0px;
	bottom:-14px;
	background-color: rgba(0,0,0, 0.5) ;
	-ms-transform: skew(0deg,3deg); 
	-webkit-transform: skew(0deg,3deg); 
	-o-transform: skew(0deg,3deg); 
	-moz-transform: skew(0deg,3deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;	
}

.vat { 
	font-size:.3em; 
	letter-spacing: 0em; 
}
.buy { 
	font-size:.35em; 
	text-transform: uppercase; 
	margin: 6px 0; 
	font-family:"Karmina Italic", Georgia, serif; font-size-adjust:0.469; 
	font-weight:normal; 
	font-style:italic;  
	letter-spacing: 0.1em; 
}

/* Navigation */

.menu-toggle img{ float: right; margin:0 10px 0 0; }
.ampersand-logo { clear:both; }
.ampersand-logo img{ max-width: 25%; margin-top:-25px;}
nav.main-nav { background: rgba(0,0,0,0.2); border-bottom: 1px solid rgba(255, 255, 255, 0.3); border-top: 1px solid rgba(255, 255, 255, 0.3);}
nav.main-nav ul li a{ 
	float:left; 
	border-top: 1px solid rgba(255, 255, 255, 0.3);  
	padding:15px 0 12px; 
	text-align:center; 
	width: 50%; 
	text-transform: uppercase; 
	color: #ffffff;
	font-family:"Karmina Sans Light", sans-serif; 
	font-size-adjust:0.47; 
	font-weight:200; 
	font-style:normal; 
	letter-spacing:.35em; 
	font-size:.7em; 
}
nav.main-nav ul li a.home {border-right: 1px solid rgba(255, 255, 255, 0.3); border-top: none; width: 49.7%;}
nav.main-nav ul li a.workshops {border-right: 1px solid rgba(255, 255, 255, 0.3); width: 49.7%; }
nav.main-nav ul li a.location {border-right: 1px solid rgba(255, 255, 255, 0.3); width: 49.7%; }
nav.main-nav ul li a.schedule { border-top: none;} 
/* MAIN CONTENT */

.main-content { position: relative; top:60px; padding: 3px 0 60px 0; }
.main-content:after {
	content: '';

	height: 100%;
	position: absolute;
	border-bottom: none;
	border-radius: 0 0 3px 3px;
	z-index: -90;
	right: 0;
	left:0px;
	top:-10px;
	background-color: rgba(0,0,0, 0.3) ;
	-ms-transform: skew(0deg,-3deg); 
	-webkit-transform: skew(0deg,-3deg); 
	-o-transform: skew(0deg,3deg); 
	-moz-transform: skew(0deg,3deg);
	
}

.main-content:before {
	content: '';

	height: 100%;
	position: absolute;
	border-bottom: none;
	border-radius: 0 0 3px 3px;
	z-index: -90;
	right: 0;
	left:0px;
	top:-15px;
	background-color: rgba(0,0,0, 0.3) ;
	-ms-transform: skew(0deg,3deg); 
	-webkit-transform: skew(0deg,3deg); 
	-o-transform: skew(0deg,3deg); 
	-moz-transform: skew(0deg,3deg);
}

.main-content h1 { margin: 23px 0;  }
.speakers { text-align:center; }
.speakers li  { margin-bottom:15px; font-size: 1.5em; letter-spacing: 0.06em; }





/* FOOTER SECTION */

.sponsors{ margin:100px 0 0 0; }
.sponsors img { margin:12px; }

.social { position:relative; background-color: rgba(0,0,0, 0.3); padding:23px 0 12px 0; }
.social h3 {color:#ffffff; font-size: .9em; letter-spacing:.07em;}
.social ul { width: 300px; margin: 8px auto 0; overflow:hidden;}
.social ul li a{ float:left; margin:12px 5%; text-indent:-99999px; }
.social #twitter { background:url('../images/icon-twitter.png') 0 0 no-repeat; width:43px; height:43px; }
.social #rss { background:url('../images/icon-rss.png') 0 0 no-repeat; width:43px; height:43px; }
.social #lanyrd { background:url('../images/icon-lanyrd.png') 0 0 no-repeat; width:43px; height:43px; }
.social #ical { background:url('../images/icon-iCal.png') 0 0 no-repeat; width:43px; height:43px; }		
	
footer { 
	clear:both;
	background: #ffffff; 
	text-align: left; 
	font-size: 0.8em;
	font-family:"Karmina Sans Light", sans-serif; 
	font-size-adjust:0.47;
	overflow:hidden;
	padding:4%;
	}

footer img.clearleft {  }	
footer a{color:#7EA107;}

.footer-nav { background: rgba(0,0,0, 0.5); width:100%; text-align: center; padding:18px 0 0 0;}
.footer-nav ul li { 
	font-family:"Karmina Sans Light", sans-serif; 
	font-size-adjust:0.47; 
	font-weight:200;
	margin: 0 0 18px 0; 
	font-style:normal; 
	letter-spacing:.15em; 
	font-size:.8em; 
	}


