/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Clearfix */

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/* FONTS BABY */
/* div { font-family:"Karmina Sans Bold", sans-serif;  font-weight:bold; font-style:normal; }
div { font-family:"Karmina Sans Regular Italic", sans-serif;  font-weight:normal; font-style:italic; }
div { font-family:"Karmina Italic", Georgia, serif;  font-weight:normal; font-style:italic; }
div { font-family:"Karmina Bold", Georgia, serif; font-weight:bold; font-style:normal; }
div { font-family:"Karmina Sans Regular", sans-serif;  font-weight:normal; font-style:normal; }
div { font-family:"Karmina Regular", Georgia, serif; font-weight:normal; font-style:normal; } 
font-family:"Karmina Sans Semi Bold", sans-serif; font-weight:600; font-style:normal;
*/

/* Default Mobile View Styles */

html {
	background: #1a6259; /* Old browsers */
	background: -moz-linear-gradient(left,  #1a6259 0%, #193749 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1a6259), color-stop(100%,#193749)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #1a6259 0%,#193749 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #1a6259 0%,#193749 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #1a6259 0%,#193749 100%); /* IE10+ */
	background: linear-gradient(to right,  #1a6259 0%,#193749 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a6259', endColorstr='#1f445a',GradientType=1 ); /* IE6-9 */
}

body { 	
	background:url('../images/brighton-bkg.png') center center fixed; 
	font-size:110%; 
	font-family:"Karmina Regular", Georgia, serif; 
	font-size-ajust:0.463; 
	font-weight:normal; 
	font-style:normal;
	text-align:left;
	color:#ffffff;
}

img {max-width:100%;}

h1, h2 { font-family:"Karmina Bold", Georgia, serif; font-size-ajust:0.473; font-weight:bold; font-style:normal; color: #ffffff; font-size:1.5em; letter-spacing: 0.1em;}
h5 {
	font-family:"Karmina Sans Light", sans-serif; 
	font-weight:200; 
	font-style:normal; 
	letter-spacing:.08em; 
	font-size:1em; 
	margin:34px 0 0 0;  
	color:#fff064;
}
	
	
a{ color:#fff064; text-decoration: none; }


header { width:95%; padding: 0 2.5%;}
.conf-title { font-size:1.9em; letter-spacing: .1em; }
.description { 
	font-family:"Karmina Sans Light", sans-serif; 
	font-weight:200; 
	font-style:normal; 
	letter-spacing:.2em; 
	font-size:.7em; 
	margin:8px 0 0 0; 
	text-transform: uppercase; 
	
}
.loc-date { color:#fff064; letter-spacing: .1em; font-size:.8em; margin:34px 0 12px; }

.tickets a:hover { text-decoration: none; }
.cta, .cta-speakers {
	color: #000000;
	border-radius: 3px 3px 0px 0px;
	background-color: #fff064;
	width: 50%;
	display: block;
	text-align: center;
	position: relative;
	margin: 0 auto;
	z-index: 500;
	line-height: 1.2em;
	padding: 4% 25% 5%;
	background: #fff59e; /* Old browsers */
	background: -moz-linear-gradient(top,  #fff064 0%, #ffe91c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff064), color-stop(100%,#ffe91c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fff064 0%,#ffe91c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fff064 0%,#ffe91c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fff064 0%,#ffe91c 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fff064 0%,#ffe91c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='##fff064', endColorstr='#ffe91c',GradientType=0 ); /* IE6-9 */
}

.cta-speakers { border-radius: 3px 3px 3px 3px; margin-bottom: 2%;}
.reg-link { padding: 3%;}
.reg-link .loc-date { margin:0; padding:2% 0; font-size:.6em;}
.reg-link .price{font-size:1.2em;}
.reg-link .vat{font-size:.6em;}
.reg-link .registering {font-size:.6em;}

.cta:hover { opacity: 0.9; }


.cta:after {
	content: '';
	width: 99.6%;
	height: 20px;
	position: absolute;
	border-bottom: none;
	z-index: 0;
	right: 0;
	left: 0px;
	bottom: -9px;
	background: #ffe91c ;
	border-radius:0px 0px  3px 3px ;
	-ms-transform: skew(0deg,-2deg); 
	-webkit-transform: skew(0deg,-2deg); 
	-o-transform: skew(0deg,-2deg); 
	-moz-transform: skew(0deg,-2deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;	
}

.cta:before {
	content: '';
	width: 99%;
	height: 14px;
	position: absolute;
	border-bottom: none;
	z-index: 0;
	right: 0;
	border-radius:0px 0px 3px 3px;
	left:0px;
	bottom:-14px;
	background-color: rgba(0,0,0, 0.5) ;
	-ms-transform: skew(0deg,1deg); 
	-webkit-transform: skew(0deg,1deg); 
	-o-transform: skew(0deg,1deg); 
	-moz-transform: skew(0deg,1deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;	
}

.price {font-size: 2em; letter-spacing: .07em; margin: 0 0 0 3%; }

.vat { font-size:.8em; letter-spacing: 0em; margin: 0 5% 0 0;}

.registering { 
	font-size:1.2em; 
	text-transform: uppercase; 
	margin: 6px 0; 
	position:relative;
	right:0;
	font-family:"Karmina Italic", Georgia, serif;  
	font-weight:normal; 
	font-style:italic;  
	letter-spacing: 0.1em; 
}

.registering img {position: absolute; margin: 0 0 1px 12px; top: -5px; display:inline;}

.ampersand-logo { clear:both; }
.ampersand-logo img{ max-width: 12%; margin: 20px 0 10px; }

/* =Navigation */
nav#main-nav { margin: 0 -1em; }
nav#main-nav ul { margin-bottom: 0;  }
nav#main-nav a { display: block; border-bottom: 1px solid; padding: .5em 1em; background: rgba(0,0,0,0.7); }

#nav a { font-weight: bold; }
#nav { margin: 0; outline: 0; font-size: .7857em; /* 11/14 */ }

#jump {
	background: url('../images/menu-btn.png')10px 9px no-repeat;
	cursor: pointer;
	display: block;
	padding: 16px 0 0 0;
	height: 53px;
	width: 52px;
	text-indent: -2.2em;
	font-family:"Karmina Sans Light", sans-serif; 
	font-weight:200; 
	font-style:normal;
	font-size: .8em;
	letter-spacing: .1em;
	color: #fff;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1001;
}

#search input { width: 100%; }

body:not(:target) #nav {
    outline: 0;
    margin: 0;
    padding-top: 39px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000; 
	
}

body:not(:target) #nav a {
	border-bottom-width: 0;
	font-weight: bold;
	overflow: hidden;
	height: 0;
	line-height: 0;
	padding: 0 1em; 
}

body:not(:target) #nav:target {	z-index: 1001; }

body:not(:target) #nav:target a {
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	line-height: 3em;
	height: 2.6em;
	padding: 0 0 6px 14px;
	position: relative;
	z-index: 1;
	font-family:"Karmina Sans Light", sans-serif; 
	font-weight:200; 
	font-style:normal;
	color:#ffffff; 
	letter-spacing:.08em; 
	text-transform:uppercase;
	-moz-transition: height .25s, line-height .25s;
	-ms-transition: height .25s, line-height .25s;
	-o-transition: height .25s, line-height .25s;
	-webkit-transition: height .25s, line-height .25s;
	transition: height .25s, line-height .25s; 
}
body:not(:target) #nav:target #back {
	display: block;
	position: relative; }
	body:not(:target) #nav:target #back a {
	background: transparent;
	border: 0;
	display: block;
	height: auto;
	line-height: 1;
	position: absolute;
	top: -101em;
	bottom: -101em;
	left: 0;
	right: 0;
	text-indent: -999em;
	z-index: 0; 
} 
		  

/* MAIN CONTENT */
.main-content { position: relative; top:60px; padding: 3px 2.5% 60px; }
.main-content:after {
	content: '';

	height: 100%;
	position: absolute;
	border-bottom: none;
	border-radius: 0 0 3px 3px;
	z-index: -90;
	right: 0;
	left:0px;
	top:-10px;
	background-color: rgba(0,0,0, 0.3) ;
	-ms-transform: skew(0deg,-2deg); 
	-webkit-transform: skew(0deg,-2deg); 
	-o-transform: skew(0deg,-2deg); 
	-moz-transform: skew(0deg,-2deg);
	clear:both;
}

.main-content:before {
	content: '';

	height: 100%;
	position: absolute;
	border-bottom: none;
	border-radius: 0 0 3px 3px;
	z-index: -90;
	right: 0;
	left:0px;
	top:-7px;
	background-color: rgba(0,0,0, 0.3) ;
	-ms-transform: skew(0deg,2deg); 
	-webkit-transform: skew(0deg,2deg); 
	-o-transform: skew(0deg,2deg); 
	-moz-transform: skew(0deg,2deg);
}

.main-content h1 { margin: 23px 0;  }
.main-content p { font-family:"Karmina Sans Light", sans-serif; font-size:.8em; font-weight: 200; line-height:1.4em; letter-spacing:.1em; }
/* ############# HOME PAGE ############### */
.speakers { margin:37px 0 0 0;}
.speakers li { font-size: 1.2em; letter-spacing: 0.06em; padding-bottom:12px; }
.speakers li a img {display: none;}


.presentation-title p{ font-size: 0.6em; }
.reg-link { border:4px solid #fff064; text-align:center; margin-top:38px; }






/* ############# SCHEDULE PAGE ############### */
.schedule { padding:0; letter-spacing: 0.06em; text-align:left; }
.schedule h1 { text-align:center;}
.schedule h2, .schedule-change {font-family:"Karmina Sans Light", sans-serif; font-weight:200; font-style:normal; font-size:.9em; text-align:center; padding:0 10%; line-height:1.2em; }
.schedule .time { font-family:"Karmina Sans Light", sans-serif; font-size:.8em; font-weight: 200; color: rgba(255,255,255,0.8); text-align:right; width: 29%; border-right: 1px solid rgba(255,255,255,0.2); padding:0 12px 0 0; }
.schedule h3.summary { font-family:"Karmina Sans Semi Bold", sans-serif;  font-weight:600; font-style:normal; color: #ffffff;  margin-left:12px; }
.schedule-table {margin:60px 0 0 0; width: 100%;}
.schedule-table td {padding:25px 0}
.schedule-table .first td{ padding-top:0px;}
.schedule-table .last td{ padding-bottom:0px;}
.vevent td { font-size:.8em; }
.vevent td p {   margin-left:12px;}
.vevent td .vcard{ font-size:1.7em; }
.break { background: rgba(0,0,0,0.15); padding}
.type-in-20 p { margin-bottom:9px; }
.schedule-change{  margin:35px; }

/* ############# LOCATION PAGE ############### */
#conf-location { border-bottom: 1px solid rgba(255,255,255,1); width: 85%; margin: 0 auto;}
#conf-location h3{ font-size:1.2em; margin:0 0 7px 0; }
#conf-location address { font-family:"Karmina Sans Light", sans-serif; font-weight:200; font-style:normal;   font-size:0.8em; color: #cccccc;}
#conf-location address .conf-location-name, #sleep-food-net address .conf-location-name {font-family:"Karmina Sans Semi Bold", sans-serif;  font-weight:600; font-style:normal; color:#ffffff;}
#conf-location .location-a, #conf-location .location-b, #conf-location .location-c { margin-bottom:45px; padding:50px 0 0 0; }
#conf-location .location-a { background:url('../images/deco-location-pre.png') 50% 7px no-repeat;}
#conf-location .location-b { background:url('../images/deco-location-conf.png') 50% 7px no-repeat;}
#conf-location .location-c { background:url('../images/deco-location-post.png') 50% 7px no-repeat;}

#city-info { width: 85%; margin: 0 auto; text-align: left; padding:40px 0 0 0;}
#city-info h2, #city-info p { font-family:"Karmina Sans Light", sans-serif; font-weight:200; letter-spacing:.03em; margin:0px 0 40px;  color: rgba(255,255,255, 0.9);}
#city-info h2 span{ font-family:"Karmina Sans Semi Bold", sans-serif;  font-weight:600; font-style:normal; color: rgba(255,255,255, 1);}

.map iframe{ width:100%; height:320px; }	

#sleep-food-net { text-align: left; width: 85%; margin: 0 auto; font-family:"Karmina Sans Light", sans-serif; font-weight:200; letter-spacing:.03em;}
#sleep-food-net h4 { font-size:1.2em; font-family:"Karmina Regular", Georgia, serif; font-weight:normal; font-style:normal; margin: 40px 0 20px; }	
#sleep-food-net address { font-size:0.9em; margin: 0 0 30px 0; }
#sleep-food-net address p { color: rgba(255,255,255,0.6);}	

/* #################  SPONSORS PAGE ###################### */
.main-content .sponsors-page h2 { 
	font-family:"Karmina Sans Light", sans-serif; 
	font-weight: 200;
	letter-spacing:0em; 
	padding:0 6%; 
	line-height:1.2em; 
	color: rgba(255,255,255, 0.9);
	text-align: left; 
	font-size:1.1em;
	padding:12px 0 0 0;
	margin: 0 6%;
}
.main-content .sponsors-page  p {  
	font-family:"Karmina Sans Light", sans-serif; 
	font-weight: 200; 
	text-align: left; 
	margin: 0 6% 25px; 
	font-size: .85em;
	line-height: 1.5em; 
	padding: 11px 0 0 0; 
}
.main-content .sponsors-page  p span {font-family:"Karmina Sans Semi Bold", sans-serif;  font-weight:600; font-style:normal; font-size:1.2em;}
.main-content .sponsors-page h2 span{ font-family:"Karmina Sans Semi Bold", sans-serif;  font-weight:600; font-style:normal; color: rgba(255,255,255, 1); }
.sponsorship-pack { margin: 32px 6%; font-family:"Karmina Sans Light", sans-serif; font-weight: 200; }	

.sponsorship-pack .button small {font-family:"Karmina Sans Semi Bold", sans-serif;  font-weight:600; font-style:normal;}	
.sponsorship-pack .button span{  margin: 18px 0 0 0px; display:block;}

.sponsorship-pack .button { 
	background: #fff064  url('../images/deco-download-icon.png') center 13px no-repeat; 
	padding: 66px 0 13px 0; 
	text-align: center; 
	border-radius: 6px;
	color: #000000;
}
		
/* FOOTER SECTION */
.sponsors{ margin:100px 0 0 0; padding: 0 2%; }
.sponsors img { margin:12px; }

.social { position:relative; background-color: rgba(0,0,0, 0.3); padding:23px 0 12px 0; text-align:center; }
.social h3 { font-size: .9em; letter-spacing:.07em;}
.social ul { margin: 0; overflow: hidden; }
.social ul li{} 
.social ul li a{ float:left; margin:12px 7%; text-indent:-99999px; }
.social #twitter { background:url('../images/icon-twitter.png') 0 0 no-repeat; width:43px; height:43px; }
.social #rss { background:url('../images/icon-rss.png') 0 0 no-repeat; width:43px; height:43px; }
.social #lanyrd { background:url('../images/icon-lanyrd.png') 0 0 no-repeat; width:43px; height:43px; }
.social #ical { background:url('../images/icon-iCal.png') 0 0 no-repeat; width:43px; height:43px; }		
.social-subtext { display: none;}	

footer { 
	clear:both;
	background: #ffffff; 
	text-align: left; 
	font-size: 0.8em;
	font-family:"Karmina Sans Light", sans-serif; 
	font-weight: 200;
	color:#555555;
	overflow:hidden;
	padding:2% 4% 4% 4%;
	}

footer a{color:#7EA107;}

.footer-nav { background: rgba(0,0,0, 0.5); width:100%; text-align: center; padding:18px 0 0 0;}
.footer-nav ul li { 
	font-family:"Karmina Sans Light", sans-serif; 
	font-weight:200;
	margin: 0 0 18px 0; 
	font-style:normal; 
	letter-spacing:.15em; 
	font-size:.8em; 
	}

/* ######################################################################## */ 
/* ######################################################################## */ 
/* ######################################################################## */ 
/* ######################################################################## */ 
/* ######################################################################## */ 
/* ######################################################################## */ 
/* ####################### MEDIA QUERIES YAY!!!! ########################## */
/* ######################################################################## */
/* ######################################################################## */ 
/* ######################################################################## */ 
/* ######################################################################## */ 
/* ######################################################################## */ 
   
   
@media only screen and (max-width : 360px) {

.registering img {display:none; }

}

  
@media only screen and (min-width : 480px) {
	  
 	 .tickets{position: absolute; top: 0px; right: 2%; }
	 .tickets .loc-date { position: absolute; margin: 100px 0 0 14px;  }
	 .cta{ width: 161px; border-radius: 0px; padding: 9px 18px 7px 0px; }
	 .price { margin:0;}
	 .registering { font-size:.9em;}
	 .registering img {	 position: absolute; margin: 0 0 1px 5px; top: -21px; }

 	 .sponsors { text-align: left; width: 90%; margin:226px auto 0; padding: 0 5%;}
	 
  	/* NAVIGATION */
	
  	#jump { display: none;}
	
  	body:not(:target) #nav { 
		position: absolute; 
		top:205px; 
		width:95%; 
		margin: 0 auto; 
		z-index: 20; 
		border-top: 1px solid rgba(255,255,255,0.3); 
		border-bottom: 1px solid rgba(255,255,255,0.3); 
		padding:20px 0 6px;
		-webkit-box-shadow:  0px -1px 0px 0px rgba(0, 0, 0, .3), inset 0px -1px 0px 0px rgba(0, 0, 0, 0.3);
        box-shadow:  0px -1px 0px 0px rgba(0, 0, 0, .3), inset 0px -1px 0px 0px rgba(0, 0, 0, 0.3);
		
	}
	
  	body:not(:target) #nav a {
  		border-bottom-width: 0;
  		font-weight: bold;
  		overflow: hidden;
  		height: 50px;
  		line-height: 1em;
  		padding: 0 1em;
  		font-family:"Karmina Sans Light", sans-serif; 
  		font-weight:200; 
  		font-style:normal; 
  		font-size:0.9em;
  		letter-spacing:.08em; 
  		text-transform:uppercase;
  		color:#ffffff; 
  		background: none;
  		display:inline;
  		position:relative;
		
  	}
	
  	body:not(:target) #nav li { float: left; padding: 0; text-align:left; width:31%; padding:0 0 18px 0;}
	body:not(:target) #nav li a{ padding: 0; font-family:"Karmina Sans Bold", sans-serif;  font-weight:bold; font-style:normal; }
	.sponsors-link { padding-right: 0!important;}
		
	.main-content {	position: relative;	top: 172px; padding: 3px 2.5% 60px; }
  	#back{ display: none; }
	.sessions p { width: 60%; }

  	.menu-toggle { display:none;}

	.speakers { margin:37px 0 0 0;}
	.speakers li { float: left; width: 49%; }
	.speakers li a img {display: inline;}
	
	.speakers li#speaker1, .speakers li#speaker3, .speakers li#speaker5, .speakers li#speaker7, .speakers li#speaker9 { margin-right: 2%; }
	
	.social ul li a{ margin: 12px 8%; }

   }  


 /* iPads (portrait and landscape) ----------- */
 @media only screen and (min-width : 720px) {
	 
	 #main-nav ul#nav li a:hover { color: #fff064!important;}
	 
	/* HEADER */
	header { width: 90%; padding: 0 5%; }
	.tickets { right: 5%;}
	.tickets .loc-date { margin: 100px 0 0 29px;  }
	.cta{ width: 191px; border-radius: 0px; padding: 9px 18px 7px 0px; }
	.registering img {	 position: absolute; margin: 0 0 1px 10px; top: -21px; }
 
	.conf-title { font-size: 3em; letter-spacing: .1em; }
	
  	body:not(:target) #nav { top:230px; width:90%; padding: 23px 0; }
  	body:not(:target) #nav a { font-size:1em; }
	body:not(:target) #nav li { padding: 0; width:16%;}
	.description { font-size: 0.8em;}
	
	
	.main-content {	top: 147px; padding: 17px 5% 60px;}
	
	
	
	/* ############# SCHEDULE PAGE ############### */
	.schedule .time { 
		width: 42%; 
		padding:0 22px 0 0; 
		background: url('../images/deco-li.png') top right no-repeat;
		background-position-x: 430px;
		background-position-y: 29px;  
		font-size: .9em;
	}	
	.schedule .first .time { background-position-y: 0px; }
	.break {  border-top: 1px solid rgba(255,255,255,0.05); border-bottom: 1px solid rgba(255,255,255,0.05);}
	.schedule-table td { padding:35px 0 35px 12px ; background:url('../images/deco-li.png')-14px 29px no-repeat; font-size:.9em;}
	.schedule-table .first td { background-position-y: 0px; padding-top: 8px; }
	.schedule h2, .schedule-change, .schedule h3.summary  { font-size:.9em; }
	
	
	/* ############# LOCATION PAGE ############### */
	#conf-location { width: 45%; text-align:left; float: left; margin: 0 0 0 2%; border-bottom: none;}
	#conf-location h3{ font-size:1.5em; margin:0 0 7px 0; }
	#conf-location address { font-family:"Karmina Sans Light", sans-serif; font-weight:200; font-style:normal;   font-size:0.9em; color: #cccccc;}
	#conf-location address .conf-location-name, #sleep-food-net address .conf-location-name {font-family:"Karmina Sans Semi Bold", sans-serif;  font-weight:600; font-style:normal; color:#ffffff;}
	
	#conf-location .location-a, #conf-location .location-b, #conf-location .location-c { margin-bottom:55px; padding:50px 0 0 52px; }
	#conf-location .location-a { background:url('../images/deco-location-pre.png') 0 47px no-repeat;}
	#conf-location .location-b { background:url('../images/deco-location-conf.png') 0 47px no-repeat;}
	#conf-location .location-c { background:url('../images/deco-location-post.png') 0 47px no-repeat;}
	
	#city-info { 
		background:url('../images/deco-brighton-pic.png')0 0 no-repeat; 
		width: 367px; 
		text-align:left; 
		float: right;
		margin: 40px 2% 0 0; 
		padding: 195px 0 0 0;
	}
	
	.map iframe{ width:100%; height:350px; }	
	
	#accommodation, #eating, #wifi { width: 30%; float: left;}
	#eating, #wifi { margin: 0 0 0 5%;}
	
	/* #################  SPONSORS PAGE ###################### */
	
	.main-content .sponsors-page p {
	font-family: "Karmina Sans Light", sans-serif;
	font-weight: 200;
	text-align: left;
	margin: 50px 6% 25px;
	font-size: .9em;
	line-height: 1.5em;
	padding: 0px 0 0 0;
}
	.main-content .sponsors-page h2 { text-align: center; font-size:1.2em; }
	
	.sponsorship-pack {	margin: 56px 6% 60px; float: right; }
	.sponsorship-pack .button {	padding: 66px 24px 13px; }
	
	
	
	/* SOCIAL */
	.social ul li a{ text-indent:60px; padding:12px 0 0 0; margin: 12px 9%;}
		
	/* FOOTER NAV */	
	.footer-nav { padding: 18px 0;}
	.footer-nav ul li { display: inline; margin: 0 15px; }
	
	/* FOOTER */
	footer { padding:4% 5%;  }
	footer.section {width: 95%;}
	footer img.clearleft { float:right;}
}


@media only screen and (min-width : 1024px){
	 body:not(:target) #nav li { }
	.social ul li a{ margin: 12px 9.5%;}
	
 
 }


 @media only screen and (min-width : 1224px){
	 
 	.speakers { margin:37px 0 0 0;}
 	.speakers li { float: left; width: 32%; margin-bottom: 2%; }
 	.speakers li a img {
	}
	.speakers li a img:hover { opacity:.6; }
	
	.speakers li#speaker3, .speakers li#speaker6, .speakers li#speaker9 { margin-right: 0;}
 	.speakers li#speaker1, .speakers li#speaker2, .speakers li#speaker4, .speakers li#speaker5, .speakers li#speaker7, .speakers li#speaker8 { margin-right: 2%; }
	
	
	.main-content { top: 174px; }
	
	.main-content:after {
		content: '';
		top:-21px;
		-ms-transform: skew(0deg,-1deg); 
		-webkit-transform: skew(0deg,-1deg); 
		-o-transform: skew(0deg,-1deg); 
		-moz-transform: skew(0deg,-1deg);
		clear:both;
	}

	.main-content:before {
		content: '';

		-ms-transform: skew(0deg,1deg); 
		-webkit-transform: skew(0deg,1deg); 
		-o-transform: skew(0deg,1deg); 
		-moz-transform: skew(0deg,1deg);
	}
	
	.reg-link{ max-width:468px; max-height:253px; display: block; padding:0; margin: 0!important;}
	.sessions p {width:100%;} 
	
	.social ul li a{ margin: 12px 10.5%;}

  }




		  
		  

