/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q {	quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {	content: '';	content: none; }
table {	border-collapse: collapse;	border-spacing: 0; }

/* Clearfix */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }

/* Default Mobile View Styles */

html {
	background: #1a6259; /* Old browsers */
	background: -moz-linear-gradient(left,  #1f3048 0%, #372b48 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1f3048), color-stop(100%,#372b48)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #1f3048 0%,#372b48 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #1f3048 0%,#372b48 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #1f3048 0%,#372b48 100%); /* IE10+ */
	background: linear-gradient(to right,  #1f3048 0%,#372b48 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f3048', endColorstr='#372b48',GradientType=1 ); /* IE6-9 */
}

body { 	
	background:url('../images/nyc-bkg.png') center center fixed; 
	font-size:110%; 
	font-family:"Karmina Regular", Georgia, serif; 
	font-weight:normal; 
	font-style:normal;
	text-align:left;
	color:#fff;
}

img {max-width:100%;}
h1, h2 { font-family:"Karmina Bold", Georgia, serif;  font-weight:bold; font-style:normal; color: #fff; font-size:3.2em; letter-spacing: 0.06em;}
a{ color:#fff064; text-decoration: none; }

/* #################################################################################################################################### */ 
/* #############  HEADER  ############################################################################################################# */
/* #################################################################################################################################### */

header#top { width:90%; padding: 0 5%;}

.ampersand-logo img{ max-width: 12%; margin: 20px 0 10px; }
.conf-title { font-size:2em; letter-spacing: .1em; line-height: .7em;}

.description { 
	font-family:"Karmina Sans Light", sans-serif; font-weight:200; font-style:normal; 
	letter-spacing:.2em; 
	font-size:.37em; 
	text-transform: uppercase; 
}	

.tickets a:hover { text-decoration: none; }

.loc-date { color:#fff; letter-spacing: .1em; margin:34px 0 12px; }
	
.cta, .cta-speakers {
	color: #000;
	border-radius: 3px;
	background-color: #fff064;
	width: 94%;
	display: block;
	text-align: center;
	position: relative;
	margin: 0 auto;
	z-index: 500;
	line-height: 1.2em;
	font-size: 2em; 
	letter-spacing: .07em;
	padding: 1% 3% 1%;
	background: #fff59e; /* Old browsers */
	background: -moz-linear-gradient(top,  #fff064 0%, #ffe91c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff064), color-stop(100%,#ffe91c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fff064 0%,#ffe91c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fff064 0%,#ffe91c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fff064 0%,#ffe91c 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fff064 0%,#ffe91c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='##fff064', endColorstr='#ffe91c',GradientType=0 ); /* IE6-9 */
}	

.vat { font-size:.4em; letter-spacing: 0em; margin-right:5%; }

.registering { 
	background: url('../images/cta-arrow.png') 174px 0px no-repeat;
	font-size: .6em;
	text-transform: uppercase;
	font-family: "Karmina Italic", Georgia, serif;
	font-weight: normal;
	font-style: italic;
	letter-spacing: 0.1em;
	padding: 4px 44px 4px 0;
}

.registering img {position: absolute; margin: 0 0 1px 12px; top: -5px; display:inline;}

	@media only screen and (min-width : 570px) {
		
		.tickets{ position: absolute; top: 0; right:5%; width:220px; max-width: 310px; }
		.tickets .loc-date { position: absolute; margin: 121px 0 0 22px; }
		.cta { padding: 6% 4% 5%; border-radius: 0;	line-height: .6em; width: 160px;}
		.cta:after {
			content: '';
			width: 100%;
			height: 31px;
			position: absolute;
			border-bottom: none;
			z-index: 0;
			right: 0;
			left: 0px;
			bottom: -19px;
			background: #ffe91c ;
			border-radius:0px 0px  3px 3px ;
			-ms-transform: skew(0deg,-3deg); 
			-webkit-transform: skew(0deg,-3deg); 
			-o-transform: skew(0deg,-3deg); 
			-moz-transform: skew(0deg,-3deg);
		    -webkit-backface-visibility: hidden;
		    backface-visibility: hidden;	
		}

		.cta:before {
			content: '';
			width: 99%;
			height: 20px;
			position: absolute;
			border-bottom: none;
			z-index: 0;
			right: 0;
			border-radius:0px 0px 3px 3px;
			left:0px;
			bottom:-24px;
			background-color: rgba(0,0,0, 0.5) ;
			-ms-transform: skew(0deg,2deg); 
			-webkit-transform: skew(0deg,2deg); 
			-o-transform: skew(0deg,2deg); 
			-moz-transform: skew(0deg,2deg);
		    -webkit-backface-visibility: hidden;
		    backface-visibility: hidden;
			}	
		.price { margin:0;}
		.registering { background: none; font-size:0.6em; padding:0; }
	}	
	@media only screen and (min-width : 720px) {
		
		header#top  { width: 86%; padding: 0 7%; }
		.conf-title { font-size: 2.5em; }
		.description { font-size: .28em; }
		.cta:hover { opacity: 0.9; }
		
		.tickets { right: 7%;}
		.tickets .loc-date { position: absolute; margin-top: 136px; }
	}
	@media only screen and (min-width : 1024px) {
		header#top { padding-top: 16px;}
		.conf-title { font-size: 3em; }
	}	


/* #################################################################################################################################### */ 
/* #############  NAVIGATION  ############################################################################################################# */
/* #################################################################################################################################### */



nav#main-nav { margin: 0 -1em; }
nav#main-nav ul { margin-bottom: 0;  }
nav#main-nav a { display: block; border-bottom: 1px solid; padding: .5em 1em; background: rgba(0,0,0,0.7); }

#nav a { font-weight: bold; }
#nav { margin: 0; outline: 0; font-size: .7857em; /* 11/14 */ }

#jump {
	background: url('../images/menu-btn.png')10px 9px no-repeat;
	cursor: pointer;
	display: block;
	padding: 16px 0 0 0;
	height: 53px;
	width: 44px;
	text-indent: -2.2em;
	font-family:"Karmina Sans Light", sans-serif; 
	font-weight:200; 
	font-style:normal;
	font-size: .8em;
	letter-spacing: .1em;
	color: #fff;
	position: absolute;
	right: 5%;
	top: 1%;
	z-index: 1001;
}

#search input { width: 100%; }

body:not(:target) #nav {
    outline: 0;
    margin: 0;
    padding-top: 50px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000; 
	
}

body:not(:target) #nav a {
	border-bottom-width: 0;
	font-weight: bold;
	overflow: hidden;
	height: 0;
	line-height: 0;
	padding: 0 1em; 
}

body:not(:target) #nav:target {	z-index: 1001; }

body:not(:target) #nav:target a {
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	line-height: 3em;
	height: 2.6em;
	padding: 0 0 6px 14px;
	position: relative;
	z-index: 1;
	font-family:"Karmina Sans Light", sans-serif; 
	font-weight:200; 
	font-style:normal;
	color:#fff; 
	letter-spacing:.08em; 
	text-transform:uppercase;
	-moz-transition: height .25s, line-height .25s;
	-ms-transition: height .25s, line-height .25s;
	-o-transition: height .25s, line-height .25s;
	-webkit-transition: height .25s, line-height .25s;
	transition: height .25s, line-height .25s; 
}
body:not(:target) #nav:target #back {
	display: block;
	position: relative; }
	body:not(:target) #nav:target #back a {
	background: transparent;
	border: 0;
	display: block;
	height: auto;
	line-height: 1;
	position: absolute;
	top: -101em;
	bottom: -101em;
	left: 0;
	right: 0;
	text-indent: -999em;
	z-index: 0; 
} 

	@media only screen and (min-width : 570px) {
		
		#jump { display: none;}
			
		  	body:not(:target) #nav { 
				position: absolute; 
				top:205px; 
				width:90%; 
				margin: 0 auto; 
				z-index: 20; 
				border-top: 1px solid rgba(255,255,255,0.3); 
				border-bottom: 1px solid rgba(255,255,255,0.3); 
				padding:20px 0 1px;
				-webkit-box-shadow:  0px -1px 0px 0px rgba(0, 0, 0, .3), inset 0px -1px 0px 0px rgba(0, 0, 0, 0.3);
		        box-shadow:  0px -1px 0px 0px rgba(0, 0, 0, .3), inset 0px -1px 0px 0px rgba(0, 0, 0, 0.3);
				}
			
		  	body:not(:target) #nav a {
		  		border-bottom-width: 0;
		  		font-weight: bold;
		  		overflow: hidden;
		  		height: 50px;
		  		line-height: 1em;
		  		padding: 0 1em;
		  		font-family:"Karmina Sans Light", sans-serif; 
		  		font-weight:200; 
		  		font-style:normal; 
		  		font-size:0.9em;
		  		letter-spacing:.08em; 
		  		text-transform:uppercase;
		  		color:#fff064; 
		  		background: none;
		  		display:inline;
		  		position:relative;
				
		  	}
			
		  	body:not(:target) #nav li { float: left; padding: 0; text-align:left; width:31%; padding:0 0 18px 0;}
			body:not(:target) #nav li a{ padding: 0; 	font-family:"Karmina Sans Light", sans-serif;  font-weight:bold; font-style:normal; }
		.menu-toggle { display:none;}
		#back{ display: none; }
		
		
	}
	@media only screen and (min-width : 720px) {
		body:not(:target) #nav { top: 231px; width: 86%; }
	}
	@media only screen and (min-width : 860px) {
	  	body:not(:target) #nav a { font-size:1em; }
		body:not(:target) #nav a:hover { color: #ffffff!important; }
		body:not(:target) #nav li { width:16%;}
	}	
	@media only screen and (min-width : 1024px) {
		body:not(:target) #nav { top: 260px;}
		body:not(:target) #nav a { font-size:1.2em; }
	}	
	@media only screen and (min-width : 1200px) {
		body:not(:target) #nav a { font-size:1.3em; }
	}		



/* #################################################################################################################################### */ 
/* #############  MAIN CONTENT  ############################################################################################################# */
/* #################################################################################################################################### */
		  

/* MAIN CONTENT */
.main-content { position: relative; top:60px; padding: 15px 5% 60px;  }
.main-content:after {
	content: '';
	height: 100%;
	position: absolute;
	border-bottom: none;
	border-radius: 0 0 3px 3px;
	z-index: -90;
	right: 0;
	left:0px;
	top:-10px;
	background-color: rgba(0,0,0, 0.3) ;
	-ms-transform: skew(0deg,-2deg); 
	-webkit-transform: skew(0deg,-2deg); 
	-o-transform: skew(0deg,-2deg); 
	-moz-transform: skew(0deg,-2deg);
	clear:both;
}
.main-content:before {
	content: '';

	height: 100%;
	position: absolute;
	border-bottom: none;
	border-radius: 0 0 3px 3px;
	z-index: -90;
	right: 0;
	left:0px;
	top:-7px;
	background-color: rgba(0,0,0, 0.3) ;
	-ms-transform: skew(0deg,2deg); 
	-webkit-transform: skew(0deg,2deg); 
	-o-transform: skew(0deg,2deg); 
	-moz-transform: skew(0deg,2deg);
}

.main-content h1 { margin: 23px 0 6px;  }
.main-content p { font-family:"Karmina Sans Light", sans-serif; font-size:1em; font-weight: 200; line-height:1.4em; }
.main-content  .presentation-title{ font-size: 0.7em; }
	@media only screen and (min-width : 570px) {
	
		.main-content { top:190px;  }
	}
	@media only screen and (min-width : 720px) {
	
		.main-content { padding: 15px 7% 60px;}
	}
	@media only screen and (min-width : 1220px) {	
	.main-content:after {
		content: '';
		top:-21px;
		-ms-transform: skew(0deg,-1deg); 
		-webkit-transform: skew(0deg,-1deg); 
		-o-transform: skew(0deg,-1deg); 
		-moz-transform: skew(0deg,-1deg);
		clear:both;
		}

	.main-content:before {
		content: '';
		-ms-transform: skew(0deg,1deg); 
		-webkit-transform: skew(0deg,1deg); 
		-o-transform: skew(0deg,1deg); 
		-moz-transform: skew(0deg,1deg);
		}
	}
	
	
/* #################################################################################################################################### */ 
/* #############  FOOTER  ############################################################################################################# */
/* #################################################################################################################################### */	

/* FOOTER SECTION */
.sponsors{ margin:260px 0 0 0; padding: 0 5%; }
.sponsors h2 { font-size: 1em; font-family:"Karmina Sans Light", sans-serif; font-weight: 200; color: #fff064; margin-top: 30px; }



.sponsors img { margin:12px; }

.social { position:relative; background-color: rgba(0,0,0, 0.3); padding:23px 0 12px 0; text-align:center; }
.social h3 { font-size: .9em; letter-spacing:.07em;}
.social ul { margin: 0; overflow: hidden; }
.social ul li a{ float:left; margin:12px 7%; text-indent:-99999px; }
.social #twitter { background:url('../images/icon-twitter.png') 0 0 no-repeat; width:43px; height:43px; }
.social #rss { background:url('../images/icon-rss.png') 0 0 no-repeat; width:43px; height:43px; }
.social #lanyrd { background:url('../images/icon-lanyrd.png') 0 0 no-repeat; width:43px; height:43px; }
.social #ical { background:url('../images/icon-iCal.png') 0 0 no-repeat; width:43px; height:43px; }		
.social-subtext { display: none;}	

footer { 
	clear:both;
	background: #fff; 
	text-align: left; 
	font-size: 0.8em;
	font-family:"Karmina Sans Light", sans-serif; 
	font-weight: 200;
	color:#555555;
	overflow:hidden;
	padding:2% 4% 4% 4%;
	}

footer a{color:#7EA107;}

.footer-nav { background: rgba(0,0,0, 0.5); width:100%; text-align: center; padding:18px 0 0 0;}
.footer-nav ul li { 
	font-family:"Karmina Sans Light", sans-serif; 
	font-weight:200;
	margin: 0 0 18px 0; 
	font-style:normal; 
	letter-spacing:.15em; 
	font-size:.8em; 
	}

	@media only screen and (min-width : 720px) {
	
		.sponsors{  padding: 0 7%; }
		.social ul li a{ text-indent:60px; padding:12px 0 0 0; margin: 12px 9%;}
		.footer-nav { padding: 18px 0;}
		.footer-nav ul li { display: inline; margin: 0 15px; }
	
		/* FOOTER */
		footer { padding:4% 5%;  }
		footer.section {width: 95%;}
		footer img.clearleft { float:right;}
	}

	@media only screen and (min-width : 1220px) {
		
		.social ul li a{ margin: 12px 10.5%;}
	}

/* #################################################################################################################################### */ 
/* #############  HOME PAGE SPEAKER SECTION  ############################################################################################################# */
/* #################################################################################################################################### */

.speakers li { font-size: 1.5em; }
.speakers li a img {display: none;}

	@media only screen and (min-width : 570px) {
	
		.speakers { margin:52px 0 0 0;}
		
		.speakers li a{ 
			margin: 0;
			width: 44%;
			display: block;
			padding: 22% 0 0 0; 
			padding: 53% 50% 0% 0%;
		}
		
		.speakers li { font-size: 1.5em; float: left; width: 50%; }
		.speakers li p { margin-bottom: 4%; }
		
		
		
		#speaker1 { background:url('../images/speakers-ben-terrett.jpg')  0 0 no-repeat; background-size: contain; }
		#speaker2 { background:url('../images/speakers-mark-boulton.jpg')  0 0 no-repeat; background-size: contain; }
		#speaker3 { background:url('../images/speakers-jenn-lukas.jpg')  0 0 no-repeat; background-size: contain; }
		#speaker4 { background:url('../images/speakers-kutlu-canlioglu.jpg')  0 0 no-repeat; background-size: contain; }
		#speaker5 { background:url('../images/speakers-erik-spiekermann.jpg')  0 0 no-repeat; background-size: contain; }
		#speaker6 { background:url('../images/speakers-gerry-leonidas.jpg')  0 0 no-repeat; background-size: contain; }
		#speaker7 { background:url('../images/speakers-nina-stossinger.jpg')  0 0 no-repeat; background-size: contain; }
		#speaker8 { background:url('../images/speakers-andy-hume.jpg')  0 0 no-repeat; background-size: contain; }
		#speaker9 { background:url('../images/speakers-richard-rutter.jpg')  0 0 no-repeat; background-size: contain; }
		
		#speaker1, #speaker3, #speaker5, #speaker7, #speaker9 { margin-right:0%; }
		
	}
	
	@media only screen and (min-width : 820px) {	
		.speakers li { padding: 0; }
		.speakers li a{	width: 48%;	}
	}
	
	@media only screen and (min-width : 1024px) {	
		.speakers li { padding:0; }
		.speakers li a:hover { opacity:.8;}
	}
	
	@media only screen and (min-width : 1150px) {	
		.speakers li { width: 33%; padding: 0;  }
		.li-spk1, .li-spk2, .li-spk4, .li-spk5, .li-spk7, .li-spk8  { margin-right:.5%; }
		.li-spk3, .li-spk6, .li-spk9{ margin-right:0; }
	}
	@media only screen and (min-width : 1220px) {	

	}	



/* #################################################################################################################################### */ 
/* #############  Schedule PAGE ####################################################################################################### */
/* #################################################################################################################################### */

.schedule { padding:0; letter-spacing: 0.06em; text-align:left; }
.schedule h1 { padding:0; }
.schedule p, .schedule-change { width: 57%;}
.schedule .time { font-family:"Karmina Sans Light", sans-serif; font-size:.8em; font-weight: 200; color: rgba(255,255,255,0.8); text-align:right; width: 29%; border-right: 1px solid rgba(255,255,255,0.2); padding:0 12px 0 0; }
.schedule h3.summary { font-family:"Karmina Sans Semi Bold", sans-serif;  font-weight:600; font-style:normal; color: #fff;  margin-left:12px; }
.schedule-table {margin:60px 0 0 0; width: 100%;}
.schedule-table td {padding:25px 0}
.schedule-table .first td{ padding-top:0px;}
.schedule-table .last td{ padding-bottom:0px;}
.vevent td { font-size:.8em; }
.vevent td p {   margin-left:12px;}
.vevent td .vcard{ font-size:1.7em; }
.break { background: rgba(0,0,0,0.15); border-bottom: 1px solid rgba(255,255,255,0.1); border-top: 1px solid rgba(255,255,255,0.1);}
.type-in-20 p { margin-bottom:9px; }
.schedule-change{  margin:35px; }

/* #################################################################################################################################### */ 
/* #############  LOCATION PAGE ####################################################################################################### */
/* #################################################################################################################################### */

.location { padding: 0;}

#conf-location { border-bottom: 1px solid rgba(255,255,255,1); width: 100%; margin: 0 auto;}
#conf-location h3{ font-size:1.5em; margin:0 0 7px 0; }
#conf-location address { font-family:"Karmina Sans Light", sans-serif; font-weight:200; font-style:normal; color: rgba(255,255,255,0.8);}
#conf-location address .conf-location-name, #sleep-food-net address .conf-location-name {font-family:"Karmina Sans Semi Bold", sans-serif;  font-weight:600; font-style:normal; color:#fff;}
#conf-location .location-a, #conf-location .location-b, #conf-location .location-c { margin-bottom:45px; padding:50px 0 0 0; }
#conf-location .location-a { background:url('../images/deco-location-pre.png') 0 16px no-repeat;}
#conf-location .location-b { background:url('../images/deco-location-conf.png') 0 16px no-repeat;}
#conf-location .location-c { background:url('../images/deco-location-post.png') 0 16px no-repeat;}


#loc-container { clear:both; }

#city-info { width: 100%; margin: 0 auto; text-align: left; padding:40px 0 0 0;  }
#city-info h2, #city-info p {  margin:0px 0 40px;  color: rgba(255,255,255, 0.9); font-family:"Karmina Sans Light", sans-serif; font-weight:200;}
#city-info h2 span{ font-family:"Karmina Sans Semi Bold", sans-serif;  font-weight:600; font-style:normal; color: rgba(255,255,255, 1);}

.map iframe{ width:100%; height:260px; }	

#sleep-food-net { width: 100%; font-family:"Karmina Sans Light", sans-serif; font-weight:200; letter-spacing:.03em;}
#sleep-food-net h4 { font-size:1.5em; font-family:"Karmina Regular", Georgia, serif; font-weight:normal; font-style:normal; margin: 40px 0 20px; }	
#sleep-food-net address { font-size:0.9em; margin: 0 0 30px 0; }
#sleep-food-net address p { color: rgba(255,255,255,0.6);}	

.map{ width: 100%; padding: 0; }


	@media only screen and (min-width : 550px) {
		#conf-location { width: 100%; text-align:left; float: left; margin: 0; border-bottom: none;}
		#conf-location h3{ font-size:1.5em; margin:0 0 7px 0; }
		#conf-location address { font-family:"Karmina Sans Light", sans-serif; font-weight:200; font-style:normal;   font-size:0.9em; color: #cccccc;}
		#conf-location address .conf-location-name, #sleep-food-net address .conf-location-name {font-family:"Karmina Sans Semi Bold", sans-serif;  font-weight:600; font-style:normal; color:#fff;}
	
		#conf-location .location-a, #conf-location .location-b, #conf-location .location-c { margin-bottom:55px; padding:20px 0 0 52px; }
		#conf-location .location-a { background:url('../images/deco-location-pre.png') 0 47px no-repeat;}
		#conf-location .location-b { background:url('../images/deco-location-conf.png') 0 47px no-repeat;}
		#conf-location .location-c { background:url('../images/deco-location-post.png') 0 47px no-repeat;}
	}

	@media only screen and (min-width : 720px) {
				
		.map{ width: 100%; padding: 0; float: left; }
		#city-info { 
			background:url('../images/deco-brighton-pic.png')0 0 no-repeat; 
			background-size: contain;
			width: 46%; 
			float: right;
			margin:40px 0 0 0; 
			padding: 26% 0 0 0;
			position: relative;
		}
		#sleep-food-net { margin-right:3%; width: 50%; float: left; }
	}
	
	@media only screen and (min-width : 820px) {	

		#conf-location .location-a { float: left; margin-right:2%; width: 24%; }
		#conf-location .location-b { float: left; margin-right:2%; width: 24%; }
		#conf-location .location-c { float: left; margin-right:0; width: 24%; }
		
		.map iframe{ width:100%; height:360px; }	
}

		
	@media only screen and (min-width : 1024px) {
		.map{ width: 73%; padding: 0; float: left; }
		.map iframe{ width:100%; height:460px; }	
		#sleep-food-net {
			clear: both;
			overflow: hidden; 
			width: 100%;
			margin: 40px 0 100px; 
			padding:3% 0;
			border-top: 1px solid rgba(255,255,255,0.3); 
			border-bottom: 1px solid rgba(255,255,255,0.3); 
			-webkit-box-shadow:  0px -1px 0px 0px rgba(0, 0, 0, .3), inset 0px -1px 0px 0px rgba(0, 0, 0, 0.3);
	        box-shadow:  0px -1px 0px 0px rgba(0, 0, 0, .3), inset 0px -1px 0px 0px rgba(0, 0, 0, 0.3);
		}
		#accommodation, #eating, #wifi { width: 30%; float: left;  }
		#accommodation, #eating{ margin-right: 3%;  }
		
		#city-info { width: 25%;  padding: 13% 0 0 0; margin: 0; }
		#city-info h2 { font-size: 1.3em; }
		#city-info p { font-size: .9em; }
	
		
}

/* #################################################################################################################################### */ 
/* #############  Speakers PAGE ####################################################################################################### */
/* #################################################################################################################################### */


	
.bio-more { font-family:"Karmina Sans Light", sans-serif; font-weight: 200; font-size:.8em; letter-spacing:.1em; line-height:1.5em;	margin: 35px 0 0 0;}
.speaker-session h2{ margin:39px 0 0 0; }	
.speaker-nav { margin: 35px 0 0 0; }
.speaker-nav h2 { font-size:1.5em; margin:39px 0 0 0; }
.speaker-nav ul {margin: 30px 0 0 0; }
.speaker-nav ul li{margin: 0 0 15px 0; }
	
	@media only screen and (min-width : 1024px) {
	
	.speaker-session { 
		margin: 19px 0 0 0;
		width: 36%;
		position: relative;
		left: 35%; 
	}
	.speaker-session h1{ margin-top:0; }
	.speaker-session h1 .speaker-title {font-family:"Karmina Sans Light", sans-serif; 
		font-weight: 200; font-size:.6em; letter-spacing:.1em;}
	.speaker-session p{ margin:0 0 17px 0;}
	.speaker-session .talk {font-size:1em; line-height:1.4em; }
		
	.bio-more { 
		background: url('../images/speakers-ben-terrett.jpg') 0 0 no-repeat;
		background-size: contain;
		padding: 15% 0 0 0;
		width: 28%;
		font-family: "Karmina Sans Light", sans-serif;
		font-weight: 200;
		font-size: .8em;
		letter-spacing: .1em;
		line-height: 1.5em;
		position: absolute;
		top: 0px;
		}
	.bio-more h3 { font-size:1.3em; margin:39px 0 17px 0; font-family:"Karmina Regular", Georgia, serif; font-weight:normal; font-style:normal;}	
	
	.speaker-nav { 
		width: 17%;
		margin: 0px 0 0 0;
		text-align: left;
		position: absolute;
		top: 0;
		right: 7%;
		}	
}
	
/* #################################################################################################################################### */ 
/* #############  SPONSORS PAGE ####################################################################################################### */
/* #################################################################################################################################### */

.main-content .sponsors-page .loud { 
	font-family:"Karmina Sans Light", sans-serif; 
	font-weight: 200;
	letter-spacing:0em; 
	line-height:1.2em; 
	color: rgba(255,255,255, 0.9);
	text-align: left; 
	font-size:1.1em;
	padding:12px 0;
}
.main-content .sponsors-page  p {  
	font-family:"Karmina Sans Light", sans-serif; 
	font-weight: 200; 
	text-align: left; 
	margin: 0 0 25px; 
	font-size: .85em;
	line-height: 1.5em; 
	padding: 11px 0 0 0; 
}
.main-content .sponsors-page  p span {font-family:"Karmina Sans Semi Bold", sans-serif;  font-weight:600; font-style:normal; font-size:1.2em;}
.main-content .sponsors-page .loud span{ font-family:"Karmina Sans Semi Bold", sans-serif;  font-weight:600; font-style:normal; color: rgba(255,255,255, 1); }
.sponsorship-pack { margin: 32px 0; font-family:"Karmina Sans Light", sans-serif; font-weight: 200; }	

.sponsorship-pack .button small {font-family:"Karmina Sans Semi Bold", sans-serif;  font-weight:600; font-style:normal;}	
.sponsorship-pack .button span{  margin: 18px 0 0 0px; display:block;}

.sponsorship-pack .button { 
	background: #fff064  url('../images/deco-download-icon.png') center 13px no-repeat; 
	padding: 66px 0 13px 0; 
	text-align: center; 
	border-radius: 6px;
	color: #000;
}
	
	@media only screen and (min-width : 720px) {
		.sponsorship-pack{ position:absolute; top:0; right: 7%; width:30%; max-width: 340px; }
		.main-content .sponsors-page .loud { width:57%; font-size: 1.4em; }
		.main-content .sponsors-page  p { width:57%; }
		
	}

/* #################################################################################################################################### */ 
/* #############  WORKSHOP PAGE ####################################################################################################### */
/* #################################################################################################################################### */



.workshop-item h1{ font-size: 2em;}
.workshop-item p{ margin: 4% 0;}
.workshop-item li{ font-size: .8em; line-height: 1.2em; list-style:square; margin: 0 0 2% 6%; font-family:"Karmina Sans Light", sans-serif; font-weight: 200;}	


	@media only screen and (min-width : 720px) {
		.workshops p{ width: 60%;}	
		.workshop-item { width: 48%; border-bottom: 1px solid rgba(255,255,255,.3); }
		.workshop-item p{ width: 130%; }
		.workshop-item ul { margin-bottom: 10%;}	
		#wrk1 { border-top: 1px solid rgba(255,255,255,0.3); padding: 4% 0 0 0; margin: 3% 0 0 0;}
		/*#wrk1, #wrk2 {  margin-bottom: 1%; }
		#wrk2, #wrk4 {  margin-left: 2%; }
		*/#wrk1,#wrk2, #wrk3, #wrk4 { background:url('../images/workshop-placeholder.jpg') 0 0 no-repeat; background-size:43%; padding: 0 0 0 40%; }
}






		  

 